@import "./styles/primitive-colors.css";
@import "./styles/sizing-tokens.css";
@import "./styles/context-colors.css";

:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: var(--context-bg-base-tertiary);
  --color-text: var(--context-content-base-primary);
  --color-text-muted: var(--context-content-base-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

#root {
  min-height: 100vh;
}
